<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
        <script src="{{url_for('static', filename='galleria/galleria.min.js')}}"></script>

        <style>
            .galleria{ width: 700px; height: 400px; background: #000 }
        </style>
    </head>
    <body>
        <div class="galleria">
            <img src="{{url_for('static', filename='photo1.JPG')}}">
            <img src="{{url_for('static', filename='photo2.JPG')}}">
        </div>
        <script>
            (function() {
                Galleria.loadTheme('{{ url_for('static', filename='galleria/themes/twelve/galleria.twelve.min.js')}}');
                Galleria.run('.galleria');
            }());
        </script>
    </body>
</html>