{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <h2>Add photos</h2>
    {% if path_form %}
    {{ wtf.quick_form(path_form) }}
    <br>
    {% endif %}
    <hr>
    <h2>Process photos</h2>
    {% if face_processing_form %}
        {{ wtf.quick_form(face_processing_form) }}
    {% endif %}
    <hr>
    <h2>Creates searches</h2>
    {% if create_search_form %}
        {{ wtf.quick_form(create_search_form) }}
    <br>
    {% endif %}
    <hr>
    <h2>Run searches</h2>
    {% if load_search_form %}
        {{ wtf.quick_form(load_search_form) }}
    <br>
    {% endif %}

{% endblock %}
